html,body {
  width: 100%;
  height: 100%;
  background: #ffffff;
  margin: 0;
  padding: 0;
}
#container{
	width: 100%;
	height:100%;
	padding-top: 50px;
	padding-left: 100px;
}
#contents{
  margin-top: 50px;
}
h1{
  font-size: 144pt;
  margin-top: 0;
  margin-bottom: 0;
}
.title{
  font-size: 72pt;
  position: absolute;
  right: 100pt;
  bottom: 50pt;
}
.qrcode{
  position: absolute;
  width: 300;
  height: 300;
  right: 300pt;
  bottom: 200pt;
}
h2{
  font-size: 36pt;
  margin-bottom: 0; 
}
.demo{
  font-size: 36pt;
}

.stick{
  position: absolute;
  top: 450pt;
  left: 400pt;
  height: 50px;
  background-color: #00FF00;
}
.circle{
  position: absolute;
  top: 550pt;
  left: 370pt;
  height: 50px;
  -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #FF0000;
}